body{
    font-size: 10px;
}

p{
    font-family: Raleway;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.5;
    text-decoration: underline;
}

h1{
    font-family: Indie Flower;
    font-size: 5em;
    text-align: center;
    text-decoration: line-through;
}

span{
    font-size: 1.5em;
}